In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import calendar
import datetime
import hashlib
import random
from sklearn.linear_model import MultiTaskLassoCV
%matplotlib inline
from sklearn.linear_model import RidgeCV
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")

%matplotlib notebook

In [5]:
beans = pd.read_excel('BeanImagelinks.xlsx')
beans.shape

(12855, 23)

## Cleaning the beans data frame

In [6]:
#checking for duplicate rows
beans.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
12850    False
12851    False
12852    False
12853    False
12854    False
Length: 12855, dtype: bool

In [7]:
#removing duplicated rows
beans.drop_duplicates(inplace=True)
beans

,URI,_CREATOR_URI_USER,_CREATION_DATE,_LAST_UPDATE_URI_USER,_LAST_UPDATE_DATE,_MODEL_VERSION,_UI_VERSION,_IS_COMPLETE,_SUBMISSION_DATE,_MARKED_AS_COMPLETE_DATE,...,BEAN_DATA_BEAN_IMAGE_GPS_ALT,META_INSTANCE_ID,BEAN_DATA_IMAGE_CLASS,BEAN_DATA_BEAN_COMMENT,BEAN_DATA_BEAN_IMAGE_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_DATA_BEAN_IMAGE_GPS_LAT,BEAN_DATA_START_TIME,BEAN_DATA_DEVICE_ID,IMAGE_LINK
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,anonymousUser,2019-09-23 00:37:14.242,NaN,2019-09-23 00:37:14.242,NaN,NaN,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,...,0.000000,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,NaN,http://3.19.236.194:8080/ODKAggregate/view/bin...
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,anonymousUser,2019-09-23 00:47:25.150,NaN,2019-09-23 00:47:25.150,NaN,NaN,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,...,1158.655716,uuid:8305c43b-00fb-4419-9f54-28388d176080,other,NaN,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,3.550051e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,anonymousUser,2019-09-23 13:09:22.873,anonymousUser,2019-10-03 09:16:10.751,NaN,NaN,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,...,1156.700000,uuid:d321337b-2369-4479-a39b-7804b79489d8,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,NaN,http://3.19.236.194:8080/ODKAggregate/view/bin...
3,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,anonymousUser,2019-09-23 13:09:42.299,NaN,2019-09-23 13:09:42.299,NaN,NaN,1,2019-09-23 13:09:42.293,2019-09-23 13:09:42.293,...,1146.000000,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,als,Commlon bacteria blight,7.300,2019-09-23,0.521536,2019-09-23 12:55:59.742,3.582461e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
4,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,anonymousUser,2019-09-23 13:13:06.757,NaN,2019-09-23 13:13:06.757,NaN,NaN,1,2019-09-23 13:13:06.750,2019-09-23 13:13:06.750,...,1127.700000,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,other,Leaf spot,3.900,2019-09-23,0.521570,2019-09-23 12:33:52.393,3.582461e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12850,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,anonymousUser,2020-04-26 15:57:34.445,NaN,2020-04-26 15:57:34.445,NaN,NaN,1,2020-04-26 15:57:34.429,2020-04-26 15:57:34.429,...,1172.300000,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,other,Infected leaves,4.724,2020-04-26,0.715378,2020-04-26 13:32:47.011,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
12851,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,anonymousUser,2020-04-26 15:57:39.266,NaN,2020-04-26 15:57:39.266,NaN,NaN,1,2020-04-26 15:57:39.252,2020-04-26 15:57:39.252,...,1154.600000,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,healthy,NaN,4.641,2020-04-26,0.715577,2020-04-26 13:35:07.165,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
12852,uuid:786bf823-9487-4e59-a628-fcf726404c65,anonymousUser,2020-04-26 16:32:28.237,NaN,2020-04-26 16:32:28.237,NaN,NaN,1,2020-04-26 16:32:28.226,2020-04-26 16:32:28.226,...,1154.400000,uuid:786bf823-9487-4e59-a628-fcf726404c65,healthy,NaN,4.466,2020-04-26,0.715421,2020-04-26 13:37:43.468,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
12853,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,anonymousUser,2020-04-26 16:32:35.680,NaN,2020-04-26 16:32:35.680,NaN,NaN,1,2020-04-26 16:32:35.652,2020-04-26 16:32:35.652,...,1146.000000,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,other,Leaf rust,4.640,2020-04-26,0.715420,2020-04-26 13:38:35.999,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
12854,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,anonymousUser,2020-04-26 16:32:49.304,NaN,2020-04-26 16:32:49.304,NaN,NaN,1,2020-04-26 16:32:49.297,2020-04-26 16:32:49.297,...,1146.000000,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,healthy,NaN,4.728,2020-04-26,0.715418,2020-04-26 13:43:00.494,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...

In [8]:
beans.columns

Index(['URI', '_CREATOR_URI_USER', '_CREATION_DATE', '_LAST_UPDATE_URI_USER',
       '_LAST_UPDATE_DATE', '_MODEL_VERSION', '_UI_VERSION', '_IS_COMPLETE',
       '_SUBMISSION_DATE', '_MARKED_AS_COMPLETE_DATE', 'BEAN_DATA_END_TIME',
       'BEAN_DATA_BEAN_VARIETY', 'BEAN_DATA_BEAN_IMAGE_GPS_LNG',
       'BEAN_DATA_BEAN_IMAGE_GPS_ALT', 'META_INSTANCE_ID',
       'BEAN_DATA_IMAGE_CLASS', 'BEAN_DATA_BEAN_COMMENT',
       'BEAN_DATA_BEAN_IMAGE_GPS_ACC', 'BEAN_DATA_SUBMISSION_TIME',
       'BEAN_DATA_BEAN_IMAGE_GPS_LAT', 'BEAN_DATA_START_TIME',
       'BEAN_DATA_DEVICE_ID', 'IMAGE_LINK'],
      dtype='object')

In [11]:
#treat spaces as null values
#parse the dates
beans = pd.read_excel('BeanImagelinks.xlsx', na_values=['',' '], parse_dates=["_CREATION_DATE","_LAST_UPDATE_DATE","_MARKED_AS_COMPLETE_DATE","_SUBMISSION_DATE"])
beans

,URI,_CREATOR_URI_USER,_CREATION_DATE,_LAST_UPDATE_URI_USER,_LAST_UPDATE_DATE,_MODEL_VERSION,_UI_VERSION,_IS_COMPLETE,_SUBMISSION_DATE,_MARKED_AS_COMPLETE_DATE,...,BEAN_DATA_BEAN_IMAGE_GPS_ALT,META_INSTANCE_ID,BEAN_DATA_IMAGE_CLASS,BEAN_DATA_BEAN_COMMENT,BEAN_DATA_BEAN_IMAGE_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_DATA_BEAN_IMAGE_GPS_LAT,BEAN_DATA_START_TIME,BEAN_DATA_DEVICE_ID,IMAGE_LINK
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,anonymousUser,2019-09-23 00:37:14.242,NaN,2019-09-23 00:37:14.242,NaN,NaN,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,...,0.000000,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,NaN,http://3.19.236.194:8080/ODKAggregate/view/bin...
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,anonymousUser,2019-09-23 00:47:25.150,NaN,2019-09-23 00:47:25.150,NaN,NaN,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,...,1158.655716,uuid:8305c43b-00fb-4419-9f54-28388d176080,other,NaN,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,3.550051e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,anonymousUser,2019-09-23 13:09:22.873,anonymousUser,2019-10-03 09:16:10.751,NaN,NaN,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,...,1156.700000,uuid:d321337b-2369-4479-a39b-7804b79489d8,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,NaN,http://3.19.236.194:8080/ODKAggregate/view/bin...
3,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,anonymousUser,2019-09-23 13:09:42.299,NaN,2019-09-23 13:09:42.299,NaN,NaN,1,2019-09-23 13:09:42.293,2019-09-23 13:09:42.293,...,1146.000000,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,als,Commlon bacteria blight,7.300,2019-09-23,0.521536,2019-09-23 12:55:59.742,3.582461e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
4,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,anonymousUser,2019-09-23 13:13:06.757,NaN,2019-09-23 13:13:06.757,NaN,NaN,1,2019-09-23 13:13:06.750,2019-09-23 13:13:06.750,...,1127.700000,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,other,Leaf spot,3.900,2019-09-23,0.521570,2019-09-23 12:33:52.393,3.582461e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12850,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,anonymousUser,2020-04-26 15:57:34.445,NaN,2020-04-26 15:57:34.445,NaN,NaN,1,2020-04-26 15:57:34.429,2020-04-26 15:57:34.429,...,1172.300000,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,other,Infected leaves,4.724,2020-04-26,0.715378,2020-04-26 13:32:47.011,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
12851,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,anonymousUser,2020-04-26 15:57:39.266,NaN,2020-04-26 15:57:39.266,NaN,NaN,1,2020-04-26 15:57:39.252,2020-04-26 15:57:39.252,...,1154.600000,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,healthy,NaN,4.641,2020-04-26,0.715577,2020-04-26 13:35:07.165,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
12852,uuid:786bf823-9487-4e59-a628-fcf726404c65,anonymousUser,2020-04-26 16:32:28.237,NaN,2020-04-26 16:32:28.237,NaN,NaN,1,2020-04-26 16:32:28.226,2020-04-26 16:32:28.226,...,1154.400000,uuid:786bf823-9487-4e59-a628-fcf726404c65,healthy,NaN,4.466,2020-04-26,0.715421,2020-04-26 13:37:43.468,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
12853,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,anonymousUser,2020-04-26 16:32:35.680,NaN,2020-04-26 16:32:35.680,NaN,NaN,1,2020-04-26 16:32:35.652,2020-04-26 16:32:35.652,...,1146.000000,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,other,Leaf rust,4.640,2020-04-26,0.715420,2020-04-26 13:38:35.999,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...
12854,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,anonymousUser,2020-04-26 16:32:49.304,NaN,2020-04-26 16:32:49.304,NaN,NaN,1,2020-04-26 16:32:49.297,2020-04-26 16:32:49.297,...,1146.000000,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,healthy,NaN,4.728,2020-04-26,0.715418,2020-04-26 13:43:00.494,3.595541e+14,http://3.19.236.194:8080/ODKAggregate/view/bin...

In [20]:
#checking for information about the data
beans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12855 entries, 0 to 12854
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   URI                        12855 non-null  object
 1   CREATOR_USER_ID            12855 non-null  object
 2   CREATION_DATE              12855 non-null  datetime64[ns]
 3   LAST_UPDATE_USER_ID        12855 non-null  object
 4   LAST_UPDATE_DATE           12855 non-null  datetime64[ns]
 5   MODEL_VERSION              12855 non-null  float64
 6   UI_VERSION                 12855 non-null  float64
 7   IS_COMPLETE                12855 non-null  int64
 8   SUBMISSION_DATE            12855 non-null  datetime64[ns]
 9   MARKED_AS_COMPLETE_DATE    6603 non-null   datetime64[ns]
 10  BEAN_DATA_END_TIME         12854 non-null  datetime64[ns]
 11  BEAN_VARIETY               3925 non-null   object
 12  BEAN_GPS_LNG               12854 non-null  float64
 13  BEAN_GPS_ALT               12854 non-null  float64
 14  META_INSTANCE_ID           12855 non-null  object
 15  BEAN_IMAGE_CLASS           12854 non-null  object
 16  BEAN_DATA_COMMENT          12855 non-null  object
 17  BEAN_GPS_ACC               12854 non-null  float64
 18  BEAN_DATA_SUBMISSION_TIME  12855 non-null  datetime64[ns]
 19  BEAN_GPS_LAT               12854 non-null  float64
 20  BEAN_DATA_START_TIME       12855 non-null  datetime64[ns]
 21  BEAN_DEVICE_ID             12815 non-null  float64
 22  BEAN_IMAGE_LINKS           12855 non-null  object
dtypes: datetime64[ns](7), float64(7), int64(1), object(8)
memory usage: 2.3+ MB

In [22]:
#replacing NaN values in the chosen columns
#Columns with object datatype were replaced with an empty string
#Columns with a float datatype were replaced with a zero

beans['LAST_UPDATE_USER_ID'].fillna("", inplace=True)
beans['MODEL_VERSION'].fillna(0, inplace=True)
beans['UI_VERSION'].fillna(0, inplace=True)
beans['BEAN_DATA_COMMENT'].fillna("", inplace=True)
beans['BEAN_DEVICE_ID'].fillna("", inplace=True)
beans

,URI,CREATOR_USER_ID,CREATION_DATE,LAST_UPDATE_USER_ID,LAST_UPDATE_DATE,MODEL_VERSION,UI_VERSION,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,...,BEAN_GPS_ALT,META_INSTANCE_ID,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,BEAN_DEVICE_ID,BEAN_IMAGE_LINKS
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,anonymousUser,2019-09-23 00:37:14.242,,2019-09-23 00:37:14.242,0.0,0.0,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,...,0.000000,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,,http://3.19.236.194:8080/ODKAggregate/view/bin...
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,anonymousUser,2019-09-23 00:47:25.150,,2019-09-23 00:47:25.150,0.0,0.0,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,...,1158.655716,uuid:8305c43b-00fb-4419-9f54-28388d176080,other,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,355005076612431.0,http://3.19.236.194:8080/ODKAggregate/view/bin...
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,anonymousUser,2019-09-23 13:09:22.873,anonymousUser,2019-10-03 09:16:10.751,0.0,0.0,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,...,1156.700000,uuid:d321337b-2369-4479-a39b-7804b79489d8,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,,http://3.19.236.194:8080/ODKAggregate/view/bin...
3,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,anonymousUser,2019-09-23 13:09:42.299,,2019-09-23 13:09:42.299,0.0,0.0,1,2019-09-23 13:09:42.293,2019-09-23 13:09:42.293,...,1146.000000,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,als,Commlon bacteria blight,7.300,2019-09-23,0.521536,2019-09-23 12:55:59.742,358246082857761.0,http://3.19.236.194:8080/ODKAggregate/view/bin...
4,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,anonymousUser,2019-09-23 13:13:06.757,,2019-09-23 13:13:06.757,0.0,0.0,1,2019-09-23 13:13:06.750,2019-09-23 13:13:06.750,...,1127.700000,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,other,Leaf spot,3.900,2019-09-23,0.521570,2019-09-23 12:33:52.393,358246082860328.0,http://3.19.236.194:8080/ODKAggregate/view/bin...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12850,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,anonymousUser,2020-04-26 15:57:34.445,,2020-04-26 15:57:34.445,0.0,0.0,1,2020-04-26 15:57:34.429,2020-04-26 15:57:34.429,...,1172.300000,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,other,Infected leaves,4.724,2020-04-26,0.715378,2020-04-26 13:32:47.011,359554100438608.0,http://3.19.236.194:8080/ODKAggregate/view/bin...
12851,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,anonymousUser,2020-04-26 15:57:39.266,,2020-04-26 15:57:39.266,0.0,0.0,1,2020-04-26 15:57:39.252,2020-04-26 15:57:39.252,...,1154.600000,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,healthy,,4.641,2020-04-26,0.715577,2020-04-26 13:35:07.165,359554100438608.0,http://3.19.236.194:8080/ODKAggregate/view/bin...
12852,uuid:786bf823-9487-4e59-a628-fcf726404c65,anonymousUser,2020-04-26 16:32:28.237,,2020-04-26 16:32:28.237,0.0,0.0,1,2020-04-26 16:32:28.226,2020-04-26 16:32:28.226,...,1154.400000,uuid:786bf823-9487-4e59-a628-fcf726404c65,healthy,,4.466,2020-04-26,0.715421,2020-04-26 13:37:43.468,359554100438608.0,http://3.19.236.194:8080/ODKAggregate/view/bin...
12853,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,anonymousUser,2020-04-26 16:32:35.680,,2020-04-26 16:32:35.680,0.0,0.0,1,2020-04-26 16:32:35.652,2020-04-26 16:32:35.652,...,1146.000000,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,other,Leaf rust,4.640,2020-04-26,0.715420,2020-04-26 13:38:35.999,359554100438608.0,http://3.19.236.194:8080/ODKAggregate/view/bin...
12854,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,anonymousUser,2020-04-26 16:32:49.304,,2020-04-26 16:32:49.304,0.0,0.0,1,2020-04-26 16:32:49.297,2020-04-26 16:32:49.297,...,1146.000000,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,healthy,,4.728,2020-04-26,0.715418,2020-04-26 13:43:00.494,359554100438608.0,http://3.19.236.194:8080/ODKAggregate/view/bin...

In [23]:
beans.head(3)

,URI,CREATOR_USER_ID,CREATION_DATE,LAST_UPDATE_USER_ID,LAST_UPDATE_DATE,MODEL_VERSION,UI_VERSION,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,...,BEAN_GPS_ALT,META_INSTANCE_ID,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,BEAN_DEVICE_ID,BEAN_IMAGE_LINKS
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,anonymousUser,2019-09-23 00:37:14.242,,2019-09-23 00:37:14.242,0.0,0.0,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,...,0.000000,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,,http://3.19.236.194:8080/ODKAggregate/view/bin...
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,anonymousUser,2019-09-23 00:47:25.150,,2019-09-23 00:47:25.150,0.0,0.0,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,...,1158.655716,uuid:8305c43b-00fb-4419-9f54-28388d176080,other,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,355005076612431.0,http://3.19.236.194:8080/ODKAggregate/view/bin...
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,anonymousUser,2019-09-23 13:09:22.873,anonymousUser,2019-10-03 09:16:10.751,0.0,0.0,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,...,1156.700000,uuid:d321337b-2369-4479-a39b-7804b79489d8,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,,http://3.19.236.194:8080/ODKAggregate/view/bin...

In [24]:
beans.columns

Index(['URI', 'CREATOR_USER_ID', 'CREATION_DATE', 'LAST_UPDATE_USER_ID',
       'LAST_UPDATE_DATE', 'MODEL_VERSION', 'UI_VERSION', 'IS_COMPLETE',
       'SUBMISSION_DATE', 'MARKED_AS_COMPLETE_DATE', 'BEAN_DATA_END_TIME',
       'BEAN_VARIETY', 'BEAN_GPS_LNG', 'BEAN_GPS_ALT', 'META_INSTANCE_ID',
       'BEAN_IMAGE_CLASS', 'BEAN_DATA_COMMENT', 'BEAN_GPS_ACC',
       'BEAN_DATA_SUBMISSION_TIME', 'BEAN_GPS_LAT', 'BEAN_DATA_START_TIME',
       'BEAN_DEVICE_ID', 'BEAN_IMAGE_LINKS'],
      dtype='object')

In [33]:
beans.rename(columns={'_URI':'ID', '_CREATOR_URI_USER':'CREATOR_USER_ID','_CREATION_DATE':'CREATION_DATE','_LAST_UPDATE_URI_USER':'LAST_UPDATE_USER_ID',
                        '_LAST_UPDATE_DATE':'LAST_UPDATE_DATE','_MODEL_VERSION':'MODEL_VERSION', '_UI_VERSION':'UI_VERSION','_IS_COMPLETE':'IS_COMPLETE','_SUBMISSION_DATE':'SUBMISSION_DATE', 'BEAN_DATA_DEVICE_ID':'BEAN_DEVICE_ID',
                       '_MARKED_AS_COMPLETE_DATE':'MARKED_AS_COMPLETE_DATE','MAIZE_DATA_MAIZE_IMAGE_CLASS':'MAIZE_IMAGE_CLASS', 'BEAN_DATA_BEAN_COMMENT':'BEAN_DATA_COMMENT','BEAN_DATA_IMAGE_CLASS':'BEAN_IMAGE_CLASS',
                       'BEAN_DATA_BEAN_IMAGE_GPS_ALT':'BEAN_GPS_ALT', 'BEAN_DATA_BEAN_VARIETY': 'BEAN_VARIETY', 'BEAN_DATA_BEAN_IMAGE_GPS_LNG':'BEAN_GPS_LNG',
                       'BEAN_DATA_BEAN_IMAGE_GPS_LAT':'BEAN_GPS_LAT','BEAN_DATA_BEAN_IMAGE_GPS_ACC':'BEAN_GPS_ACC', 'IMAGE_LINK':'BEAN_IMAGE_LINKS'}, inplace=True)
beans.head(3)

,URI,CREATOR_USER_ID,CREATION_DATE,LAST_UPDATE_USER_ID,LAST_UPDATE_DATE,MODEL_VERSION,UI_VERSION,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,...,BEAN_GPS_ALT,META_INSTANCE_ID,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,BEAN_DEVICE_ID,BEAN_IMAGE_LINKS
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,anonymousUser,2019-09-23 00:37:14.242,,2019-09-23 00:37:14.242,0.0,0.0,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,...,0.000000,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,da39a3ee5e6b4b0d3255bfef95601890afd80709,http://3.19.236.194:8080/ODKAggregate/view/bin...
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,anonymousUser,2019-09-23 00:47:25.150,,2019-09-23 00:47:25.150,0.0,0.0,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,...,1158.655716,uuid:8305c43b-00fb-4419-9f54-28388d176080,other,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,e7019aa11cd58deea6c2cfa4385cec861958404a,http://3.19.236.194:8080/ODKAggregate/view/bin...
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,anonymousUser,2019-09-23 13:09:22.873,anonymousUser,2019-10-03 09:16:10.751,0.0,0.0,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,...,1156.700000,uuid:d321337b-2369-4479-a39b-7804b79489d8,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,da39a3ee5e6b4b0d3255bfef95601890afd80709,http://3.19.236.194:8080/ODKAggregate/view/bin...

### Anonymizing sensitive user data (MAIZE_DEVICE_ID column) using the hashing method

In [27]:
beans['BEAN_DEVICE_ID'] = [hashlib.sha1(str.encode(str(i))).hexdigest() for i in beans['BEAN_DEVICE_ID']]
display(beans.head(3))

,URI,CREATOR_USER_ID,CREATION_DATE,LAST_UPDATE_USER_ID,LAST_UPDATE_DATE,MODEL_VERSION,UI_VERSION,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,...,BEAN_GPS_ALT,META_INSTANCE_ID,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,BEAN_DEVICE_ID,BEAN_IMAGE_LINKS
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,anonymousUser,2019-09-23 00:37:14.242,,2019-09-23 00:37:14.242,0.0,0.0,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,...,0.000000,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,da39a3ee5e6b4b0d3255bfef95601890afd80709,http://3.19.236.194:8080/ODKAggregate/view/bin...
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,anonymousUser,2019-09-23 00:47:25.150,,2019-09-23 00:47:25.150,0.0,0.0,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,...,1158.655716,uuid:8305c43b-00fb-4419-9f54-28388d176080,other,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,e7019aa11cd58deea6c2cfa4385cec861958404a,http://3.19.236.194:8080/ODKAggregate/view/bin...
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,anonymousUser,2019-09-23 13:09:22.873,anonymousUser,2019-10-03 09:16:10.751,0.0,0.0,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,...,1156.700000,uuid:d321337b-2369-4479-a39b-7804b79489d8,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,da39a3ee5e6b4b0d3255bfef95601890afd80709,http://3.19.236.194:8080/ODKAggregate/view/bin...

In [28]:
beans['BEAN_DEVICE_ID']

0        da39a3ee5e6b4b0d3255bfef95601890afd80709
1        e7019aa11cd58deea6c2cfa4385cec861958404a
2        da39a3ee5e6b4b0d3255bfef95601890afd80709
3        9b5ae6256ef75e52de9b5966f5c540ab49480488
4        5a4bc2394c367b568736478d6408edb020e6b445
                           ...
12850    063b08634aeb92f59e35bcda7d0ad6c730f064c1
12851    063b08634aeb92f59e35bcda7d0ad6c730f064c1
12852    063b08634aeb92f59e35bcda7d0ad6c730f064c1
12853    063b08634aeb92f59e35bcda7d0ad6c730f064c1
12854    063b08634aeb92f59e35bcda7d0ad6c730f064c1
Name: BEAN_DEVICE_ID, Length: 12855, dtype: object

In [29]:
# drop the meta_instance_id column because it has same meaning as the ID/URI column
beans.drop(['META_INSTANCE_ID'], axis=1)
beans

,URI,CREATOR_USER_ID,CREATION_DATE,LAST_UPDATE_USER_ID,LAST_UPDATE_DATE,MODEL_VERSION,UI_VERSION,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,...,BEAN_GPS_ALT,META_INSTANCE_ID,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,BEAN_DEVICE_ID,BEAN_IMAGE_LINKS
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,anonymousUser,2019-09-23 00:37:14.242,,2019-09-23 00:37:14.242,0.0,0.0,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,...,0.000000,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,da39a3ee5e6b4b0d3255bfef95601890afd80709,http://3.19.236.194:8080/ODKAggregate/view/bin...
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,anonymousUser,2019-09-23 00:47:25.150,,2019-09-23 00:47:25.150,0.0,0.0,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,...,1158.655716,uuid:8305c43b-00fb-4419-9f54-28388d176080,other,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,e7019aa11cd58deea6c2cfa4385cec861958404a,http://3.19.236.194:8080/ODKAggregate/view/bin...
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,anonymousUser,2019-09-23 13:09:22.873,anonymousUser,2019-10-03 09:16:10.751,0.0,0.0,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,...,1156.700000,uuid:d321337b-2369-4479-a39b-7804b79489d8,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,da39a3ee5e6b4b0d3255bfef95601890afd80709,http://3.19.236.194:8080/ODKAggregate/view/bin...
3,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,anonymousUser,2019-09-23 13:09:42.299,,2019-09-23 13:09:42.299,0.0,0.0,1,2019-09-23 13:09:42.293,2019-09-23 13:09:42.293,...,1146.000000,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,als,Commlon bacteria blight,7.300,2019-09-23,0.521536,2019-09-23 12:55:59.742,9b5ae6256ef75e52de9b5966f5c540ab49480488,http://3.19.236.194:8080/ODKAggregate/view/bin...
4,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,anonymousUser,2019-09-23 13:13:06.757,,2019-09-23 13:13:06.757,0.0,0.0,1,2019-09-23 13:13:06.750,2019-09-23 13:13:06.750,...,1127.700000,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,other,Leaf spot,3.900,2019-09-23,0.521570,2019-09-23 12:33:52.393,5a4bc2394c367b568736478d6408edb020e6b445,http://3.19.236.194:8080/ODKAggregate/view/bin...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12850,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,anonymousUser,2020-04-26 15:57:34.445,,2020-04-26 15:57:34.445,0.0,0.0,1,2020-04-26 15:57:34.429,2020-04-26 15:57:34.429,...,1172.300000,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,other,Infected leaves,4.724,2020-04-26,0.715378,2020-04-26 13:32:47.011,063b08634aeb92f59e35bcda7d0ad6c730f064c1,http://3.19.236.194:8080/ODKAggregate/view/bin...
12851,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,anonymousUser,2020-04-26 15:57:39.266,,2020-04-26 15:57:39.266,0.0,0.0,1,2020-04-26 15:57:39.252,2020-04-26 15:57:39.252,...,1154.600000,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,healthy,,4.641,2020-04-26,0.715577,2020-04-26 13:35:07.165,063b08634aeb92f59e35bcda7d0ad6c730f064c1,http://3.19.236.194:8080/ODKAggregate/view/bin...
12852,uuid:786bf823-9487-4e59-a628-fcf726404c65,anonymousUser,2020-04-26 16:32:28.237,,2020-04-26 16:32:28.237,0.0,0.0,1,2020-04-26 16:32:28.226,2020-04-26 16:32:28.226,...,1154.400000,uuid:786bf823-9487-4e59-a628-fcf726404c65,healthy,,4.466,2020-04-26,0.715421,2020-04-26 13:37:43.468,063b08634aeb92f59e35bcda7d0ad6c730f064c1,http://3.19.236.194:8080/ODKAggregate/view/bin...
12853,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,anonymousUser,2020-04-26 16:32:35.680,,2020-04-26 16:32:35.680,0.0,0.0,1,2020-04-26 16:32:35.652,2020-04-26 16:32:35.652,...,1146.000000,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,other,Leaf rust,4.640,2020-04-26,0.715420,2020-04-26 13:38:35.999,063b08634aeb92f59e35bcda7d0ad6c730f064c1,http://3.19.236.194:8080/ODKAggregate/view/bin...
12854,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,anonymousUser,2020-04-26 16:32:49.304,,2020-04-26 16:32:49.304,0.0,0.0,1,2020-04-26 16:32:49.297,2020-04-26 16:32:49.297,...,1146.000000,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,healthy,,4.728,2020-04-26,0.715418,2020-04-26 13:43:00.494,063b08634aeb92f59e35bcda7d0ad6c730f064c1,http://3.19.236.194:8080/ODKAggregate/view/bin...

In [30]:
beans.columns

Index(['URI', 'CREATOR_USER_ID', 'CREATION_DATE', 'LAST_UPDATE_USER_ID',
       'LAST_UPDATE_DATE', 'MODEL_VERSION', 'UI_VERSION', 'IS_COMPLETE',
       'SUBMISSION_DATE', 'MARKED_AS_COMPLETE_DATE', 'BEAN_DATA_END_TIME',
       'BEAN_VARIETY', 'BEAN_GPS_LNG', 'BEAN_GPS_ALT', 'META_INSTANCE_ID',
       'BEAN_IMAGE_CLASS', 'BEAN_DATA_COMMENT', 'BEAN_GPS_ACC',
       'BEAN_DATA_SUBMISSION_TIME', 'BEAN_GPS_LAT', 'BEAN_DATA_START_TIME',
       'BEAN_DEVICE_ID', 'BEAN_IMAGE_LINKS'],
      dtype='object')

### Creating a smaller dataframe that contains only required/relevant columns

In [37]:
new_beans = beans.iloc[:,[0,2,4,7,8,9,10,11,12,13,15,16,17,18,19,20]]
new_beans.columns

Index(['URI', 'CREATION_DATE', 'LAST_UPDATE_DATE', 'IS_COMPLETE',
       'SUBMISSION_DATE', 'MARKED_AS_COMPLETE_DATE', 'BEAN_DATA_END_TIME',
       'BEAN_VARIETY', 'BEAN_GPS_LNG', 'BEAN_GPS_ALT', 'BEAN_IMAGE_CLASS',
       'BEAN_DATA_COMMENT', 'BEAN_GPS_ACC', 'BEAN_DATA_SUBMISSION_TIME',
       'BEAN_GPS_LAT', 'BEAN_DATA_START_TIME'],
      dtype='object')

### grouping data by different columns

In [38]:
dict(list(new_beans.groupby('IS_COMPLETE')))[0]

,URI,CREATION_DATE,LAST_UPDATE_DATE,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,BEAN_DATA_END_TIME,BEAN_VARIETY,BEAN_GPS_LNG,BEAN_GPS_ALT,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME
20,uuid:ed2aa67f-7a93-4cb1-9a44-e0c8acd6f4ce,2019-09-24 12:57:28.033,2019-09-24 12:58:31.372,0,2019-09-24 12:57:28.013,NaT,2019-09-23 13:11:30.942,NaN,32.625266,1143.1,als,,3.676,2019-09-23,0.521565,2019-09-23 10:38:52.053
57,uuid:6fc56d20-46cf-4e96-bbc0-17cd6635356a,2019-09-27 07:34:58.155,2019-09-27 07:34:58.155,0,2019-09-27 07:34:58.149,NaT,2019-09-27 07:34:44.310,NaN,0.692093,1110.2,other,,4.077,2019-09-25,34.006441,2019-09-25 10:40:00.200
263,uuid:8303727c-1a1a-4bb1-9ede-446e8124740e,2019-10-02 11:53:02.081,2019-10-02 11:53:02.081,0,2019-10-02 11:53:02.069,NaT,2019-09-23 16:57:45.504,NaN,32.626529,1110.5,als,,4.996,2019-09-23,0.539822,2019-09-23 16:55:52.151
313,uuid:7bce4c18-aea6-4eb8-9575-b090e9bc8d7f,2019-10-04 09:49:33.133,2019-10-04 09:49:33.133,0,2019-10-04 09:49:33.126,NaT,2019-09-27 06:53:54.388,NaN,32.635073,1137.5,other,Well spaced beans multiplication field,4.845,2019-09-27,0.521152,2019-09-27 06:51:05.770
355,uuid:01ef55df-158c-42f8-9b3f-49f4cc3637da,2019-10-04 19:39:52.341,2019-10-04 19:47:16.733,0,2019-10-04 19:39:52.334,NaT,2019-10-04 14:44:59.049,NaN,33.119299,1103.2,als,Yellow,4.159,2019-10-04,0.938196,2019-10-04 14:44:21.064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12541,uuid:a6581c4a-67b6-47f7-b15e-e3c42285436d,2020-03-24 05:32:54.539,2020-03-24 05:32:54.539,0,2020-03-24 05:32:54.533,NaT,2020-03-22 08:22:36.054,NaN,33.649799,1134.8,other,,4.680,2020-03-22,2.043076,2020-03-22 08:22:13.498
12542,uuid:5e1e2de8-21d9-41fa-86ef-9f078258f74b,2020-03-24 05:32:55.443,2020-03-24 05:32:55.443,0,2020-03-24 05:32:55.434,NaT,2020-03-22 08:23:35.118,NaN,33.649849,1134.6,other,,4.720,2020-03-22,2.043055,2020-03-22 08:23:12.902
12543,uuid:ddd23e21-2618-452e-adb3-ed66af4a1545,2020-03-24 05:32:56.508,2020-03-24 05:32:56.508,0,2020-03-24 05:32:56.501,NaT,2020-03-22 08:24:48.531,NaN,33.649835,1136.6,other,,6.300,2020-03-22,2.043090,2020-03-22 08:24:30.884
12544,uuid:500a7d32-56ac-4b1e-8565-15d5d6831849,2020-03-24 05:32:57.483,2020-03-24 05:32:57.483,0,2020-03-24 05:32:57.476,NaT,2020-03-22 08:25:37.258,NaN,33.649802,1125.3,other,,7.100,2020-03-22,2.043010,2020-03-22 08:25:16.034
12545,uuid:efcb425e-f3e8-422e-a182-cebf29e04105,2020-03-24 05:32:58.369,2020-03-24 05:32:58.369,0,2020-03-24 05:32:58.362,NaT,2020-03-22 08:27:17.464,NaN,33.649857,1124.2,other,,4.833,2020-03-22,2.043011,2020-03-22 08:26:57.212

In [39]:
dict(list(new_beans.groupby('IS_COMPLETE')))[1]

,URI,CREATION_DATE,LAST_UPDATE_DATE,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,BEAN_DATA_END_TIME,BEAN_VARIETY,BEAN_GPS_LNG,BEAN_GPS_ALT,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,2019-09-23 00:37:14.242,2019-09-23 00:37:14.242,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,2019-09-23 00:35:30.644,I do not know,32.597185,0.000000,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,2019-09-23 00:47:25.150,2019-09-23 00:47:25.150,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,2019-09-23 00:46:43.390,NaN,32.597948,1158.655716,other,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,2019-09-23 13:09:22.873,2019-10-03 09:16:10.751,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,2019-09-23 12:23:40.590,Not clear,32.625300,1156.700000,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861
3,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,2019-09-23 13:09:42.299,2019-09-23 13:09:42.299,1,2019-09-23 13:09:42.293,2019-09-23 13:09:42.293,2019-09-23 12:57:58.117,NaN,32.625314,1146.000000,als,Commlon bacteria blight,7.300,2019-09-23,0.521536,2019-09-23 12:55:59.742
4,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,2019-09-23 13:13:06.757,2019-09-23 13:13:06.757,1,2019-09-23 13:13:06.750,2019-09-23 13:13:06.750,2019-09-23 12:35:02.914,Babe 13,32.625322,1127.700000,other,Leaf spot,3.900,2019-09-23,0.521570,2019-09-23 12:33:52.393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12850,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,2020-04-26 15:57:34.445,2020-04-26 15:57:34.445,1,2020-04-26 15:57:34.429,2020-04-26 15:57:34.429,2020-04-26 13:33:51.851,NaN,32.423092,1172.300000,other,Infected leaves,4.724,2020-04-26,0.715378,2020-04-26 13:32:47.011
12851,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,2020-04-26 15:57:39.266,2020-04-26 15:57:39.266,1,2020-04-26 15:57:39.252,2020-04-26 15:57:39.252,2020-04-26 13:35:42.052,NaN,32.422957,1154.600000,healthy,,4.641,2020-04-26,0.715577,2020-04-26 13:35:07.165
12852,uuid:786bf823-9487-4e59-a628-fcf726404c65,2020-04-26 16:32:28.237,2020-04-26 16:32:28.237,1,2020-04-26 16:32:28.226,2020-04-26 16:32:28.226,2020-04-26 16:25:55.683,NaN,32.423178,1154.400000,healthy,,4.466,2020-04-26,0.715421,2020-04-26 13:37:43.468
12853,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,2020-04-26 16:32:35.680,2020-04-26 16:32:35.680,1,2020-04-26 16:32:35.652,2020-04-26 16:32:35.652,2020-04-26 16:27:00.481,NaN,32.423133,1146.000000,other,Leaf rust,4.640,2020-04-26,0.715420,2020-04-26 13:38:35.999
12854,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,2020-04-26 16:32:49.304,2020-04-26 16:32:49.304,1,2020-04-26 16:32:49.297,2020-04-26 16:32:49.297,2020-04-26 16:27:30.181,NaN,32.423246,1146.000000,healthy,,4.728,2020-04-26,0.715418,2020-04-26 13:43:00.494

In [41]:
list(beans['BEAN_GPS_LNG'].groupby(beans['BEAN_GPS_LAT']).sum())

[31.7046492,
 31.7046431,
 31.7046917,
 31.704659,
 31.7046612,
 31.7047026,
 31.7047013,
 31.7047091,
 31.7046772,
 31.7046727,
 31.7048552,
 31.7047968,
 31.7048225,
 31.7048081,
 31.7048357,
 31.7048417,
 31.7047848,
 31.7048056,
 31.7048415,
 31.7048187,
 31.7048093,
 31.7048334,
 31.7053874,
 31.7053469,
 31.7063016,
 31.7059479,
 31.7057206,
 31.7058832,
 31.7058454,
 31.70644,
 31.7060587,
 31.7060274,
 31.7058461,
 31.7060413,
 31.7059982,
 31.7059778,
 31.7058123,
 31.7061056,
 31.7058384,
 31.7058664,
 31.7069045,
 31.7060171,
 31.7060128,
 31.7058538,
 31.7068555,
 31.7056932,
 31.7063704,
 31.7056864,
 31.706121,
 31.7056578,
 31.7060706,
 31.706084,
 31.7069714,
 31.7060833,
 31.7061194,
 31.7062619,
 31.7060925,
 31.705812,
 31.7060725,
 31.7057691,
 31.7056755,
 31.705712,
 31.7057982,
 31.7061072,
 31.7057385,
 31.7061096,
 31.7062654,
 31.7061909,
 31.7062781,
 31.7062379,
 31.7063697,
 31.7061361,
 31.7063157,
 31.7061292,
 31.7062161,
 31.7062108,
 63.4124807,
 31.7062861,
 31.7062285,
 31.706282,
 31.7062754,
 31.7062338,
 31.7063379,
 31.7062306,
 31.7063391,
 31.70625,
 31.7062401,
 31.7062633,
 31.705929,
 31.7061818,
 31.7062776,
 31.7062431,
 31.7059245,
 31.7062685,
 31.7057951,
 31.706296,
 31.7062299,
 31.7061559,
 31.7062663,
 31.7062676,
 31.7057194,
 31.7063445,
 31.705953,
 31.7062583,
 31.7058236,
 31.7058952,
 31.7061827,
 31.7063421,
 31.7061965,
 31.7062704,
 31.7059078,
 31.7062267,
 31.706186,
 31.706239,
 31.7062867,
 31.7062893,
 31.7061677,
 31.7062906,
 31.7060525,
 31.7060309,
 31.7062074,
 31.705878,
 31.7060909,
 31.7056639,
 31.705934,
 31.7061142,
 31.7054717,
 31.7054689,
 31.7054161,
 31.7054026,
 31.7053967,
 31.7054218,
 31.7054477,
 31.7054751,
 31.7054285,
 31.7054545,
 31.7054975,
 31.7054508,
 31.7060833,
 31.7054254,
 31.705446,
 31.7054846,
 31.7054646,
 31.7050768,
 31.7050693,
 31.704932,
 31.7050387,
 31.7040341,
 31.7124103,
 31.707181,
 31.7072084,
 31.7071995,
 31.7071814,
 31.7070275,
 31.7071069,
 31.7071902,
 31.7072306,
 31.7073018,
 31.707155,
 31.7072593,
 31.707214,
 31.7071311,
 31.7071358,
 31.7072163,
 31.7072144,
 31.7071641,
 31.7068524,
 31.7068277,
 31.7068461,
 31.7068732,
 31.7068725,
 31.7068595,
 31.7068469,
 31.7068785,
 31.7068412,
 31.7072371,
 31.707235,
 31.7069492,
 31.706952,
 31.7053514,
 31.7053668,
 31.7054042,
 31.7053085,
 31.7052923,
 31.7054192,
 31.7047878,
 31.7046713,
 31.704665,
 31.7045887,
 31.7046276,
 31.704621,
 31.7045617,
 31.7045339,
 31.7044884,
 31.7045024,
 31.704493,
 31.7036163,
 31.7036326,
 31.7036984,
 31.720943,
 31.7282705,
 31.7348606,
 31.7368436,
 31.7376506,
 31.7376498,
 31.7375729,
 31.7376172,
 31.7379783,
 31.7380245,
 31.7384556,
 31.7459164,
 31.7597813,
 31.7608768,
 31.7620378,
 31.7644159,
 31.7666669,
 31.7753999,
 31.7754298,
 31.7763668,
 31.7852966,
 31.7939096,
 31.802098,
 31.8158877,
 31.8092455,
 127.2380756,
 31.8167421,
 31.816728,
 95.45031,
 31.8198991,
 31.8299529,
 31.833654,
 31.8378335,
 31.8434005,
 31.847553,
 31.8495835,
 31.8608962,
 31.8697825,
 31.8720245,
 31.8758133,
 31.8757584,
 32.4705517,
 32.4721351,
 32.4721136,
 32.4720965,
 32.4721811,
 32.4721779,
 32.4721533,
 32.4721106,
 32.472089,
 32.4722246,
 32.4721465,
 162.30603349999998,
 357.1221929,
 32.468485,
 64.937676,
 32.4674228,
 292.2099894,
 32.4677767,
 64.9378456,
 422.10004849999984,
 32.4737542,
 32.4703363,
 1266.3267123,
 64.9371812,
 129.8963816,
 32.4691196,
 32.4689178,
 64.9565476,
 129.9131004,
 32.4714221,
 811.6975733000002,
 779.2307207999995,
 32.4648497,
 32.4649024,
 32.4648913,
 32.4648935,
 32.4651033,
 32.4642767,
 32.4648854,
 32.464945,
 32.464903,
 32.4649478,
 32.4648453,
 32.4649539,
 32.4648822,
 32.464792,
 32.4649282,
 32.4648984,
 64.92983179999999,
 32.4648014,
 32.4649455,
 32.4649529,
 32.4648954,
 32.4649325,
 32.464941,
 32.4649129,
 32.4648647,
 32.4648678,
 32.4648817,
 32.464937,
 32.4649037,
 32.4648489,
 32.4649672,
 64.9297284,
 32.4649117,
 32.4649782,
 32.4649246,
 32.4649669,
 32.4648635,
 32.4649008,
 32.4648686,
 32.4649029,
 32.464975,
 32.4648783,
 32.4649541,
 32.4648861,
 32.4648592,
 32.4647817,
 32.4648717,
 32.4649405,
 32.4649579,
 32.4649323,
 32.4648748,
 32.4649497,
 32.464927,
 32.4648986,
 32.4648562,
 32.464895,
 32.4649328,
 32.4648919,
 32.4648549,
 32.4648593,
 32.4649027,
 32.4648027,
 32.4649037,
 32.4649559,
 32.4650083,
 32.4648983,
 32.4648812,
 32.4648868,
 32.4649764,
 32.4648401,
 32.4647547,
 32.4651708,
 32.4648567,
 32.4648595,
 32.46509,
 32.4648462,
 32.464885,
 32.4648544,
 32.4648955,
 32.4649,
 32.4650056,
 32.4648933,
 32.4650184,
 32.4649188,
 32.4650594,
 32.4652464,
 32.4652096,
 32.4649296,
 32.4648717,
 32.4649912,
 32.4649127,
 32.4649933,
 32.4650404,
 32.4646648,
 32.4649202,
 32.4649615,
 32.4649182,
 64.9298183,
 32.4648844,
 32.4649114,
 32.4649472,
 32.4649554,
 32.4649292,
 32.4649049,
 32.4645843,
 32.4649381,
 32.46517,
 32.4650964,
 32.4649491,
 32.4651153,
 32.4650774,
 32.4646747,
 32.4650031,
 32.4646317,
 32.46498,
 32.4651145,
 32.4650166,
 32.4648992,
 32.4649536,
 32.4650402,
 32.4650295,
 32.464684,
 32.4650705,
 32.4650469,
 32.4644464,
 32.465127,
 32.4650597,
 32.4649359,
 64.9292617,
 32.4650128,
 32.465102,
 32.4650499,
 32.4650617,
 32.4650217,
 32.4650879,
 32.4648944,
 32.4650625,
 32.4650382,
 32.4650677,
 32.4650599,
 32.4652883,
 32.4650763,
 32.4650176,
 32.4651221,
 32.4649139,
 32.4647546,
 32.4650309,
 32.4650127,
 32.465097,
 32.4645043,
 32.4648217,
 32.4650324,
 32.4645763,
 32.4646165,
 32.4649783,
 32.4645806,
 32.4646031,
 32.4649667,
 32.4645197,
 32.4644267,
 32.4645462,
 32.46503,
 32.4645495,
 32.4645449,
 32.464925,
 32.4649382,
 32.4646378,
 32.4648456,
 32.46493,
 32.4648624,
 32.4650293,
 32.4649333,
 32.4648129,
 32.4648598,
 32.464625,
 32.46496,
 32.4649753,
 32.4649162,
 32.4649616,
 32.465005,
 32.4649573,
 32.4649369,
 32.4650149,
 32.464969,
 32.4649267,
 32.4649374,
 32.464719,
 32.4649853,
 32.4650364,
 32.4649892,
 32.4649547,
 32.4649778,
 32.4650289,
 32.4649068,
 32.4649875,
 32.4648798,
 32.4650399,
 64.9295883,
 32.4648775,
 32.4649326,
 32.4649229,
 32.4649301,
 32.4649267,
 32.4648425,
 32.4649187,
 32.4648931,
 32.4649199,
 32.4649492,
 32.464873,
 32.4648745,
 32.4649495,
 32.4649723,
 32.4650281,
 32.4648866,
 32.46499,
 32.4649531,
 32.4649939,
 32.4648749,
 32.46498,
 32.46483,
 32.4649467,
 32.4649569,
 32.4649349,
 32.4650583,
 32.4648779,
 32.4649595,
 32.4648791,
 32.4650833,
 32.4647667,
 32.46492,
 32.4647088,
 32.4648068,
 32.4650415,
 32.4647708,
 32.4650117,
 32.4647397,
 32.460255,
 32.4602672,
 32.4647579,
 32.4647768,
 32.46504,
 32.4647482,
 64.9253784,
 32.4647456,
 129.8453389,
 32.465145,
 32.4602667,
 32.4650557,
 32.4602983,
 32.4602833,
 32.4647389,
 32.464781,
 129.8579168,
 389.65089960000006,
 30.4488813,
 33.554582,
 33.5024038,
 33.4972778,
 30.1201286,
 30.120213,
 33.4865882,
 33.4872491,
 33.4879046,
 33.4876962,
 33.4877112,
 33.4930763,
 33.4926708,
 33.4961612,
 33.4896942,
 33.4918063,
 33.4918183,
 33.49181,
 33.49185,
 33.491805,
 33.4918237,
 33.4918433,
 33.4918267,
 33.49167,
 33.4917133,
 33.4916467,
 33.491635,
 33.4911677,
 33.4915411,
 33.4912864,
 33.491754,
 33.491738,
 33.4915711,
 33.491385,
 33.4918207,
 33.4915765,
 33.491797,
 33.4916559,
 33.4917805,
 33.4911666,
 33.491632,
 33.4912025,
 33.4918436,
 33.4916038,
 33.4918174,
 33.4918457,
 33.4914919,
 33.4917998,
 33.4911583,
 33.4918323,
 33.4913986,
 33.4912474,
 33.4911955,
 33.4903105,
 33.4903433,
 33.4903405,
 33.4907461,
 33.490738,
 33.4907811,
 33.4906742,
 33.4906117,
 33.4906417,
 33.4905164,
 33.4891994,
 32.582925,
 32.5885408,
 32.5885333,
 32.5885451,
 32.5885317,
 32.588525,
 32.5885681,
 65.1771875,
 32.5885983,
 32.5886122,
 32.5886267,
 32.5885817,
 32.5886005,
 32.5885983,
 32.5885672,
 32.58729,
 32.5853383,
 100.64334840000001,
 67.0794662,
 32.5720024,
 65.1441874,
 32.6142534,
 32.6142456,
 32.6142433,
 32.6142469,
 32.6142085,
 32.6141548,
 32.6141501,
 32.6142027,
 32.5706696,
 32.5749892,
 32.5703249,
 32.5704636,
 32.5703959,
 65.1408024,
 32.5703698,
 32.5704247,
 32.5703621,
 32.5703629,
 32.5704493,
 32.5704425,
 32.5707739,
 32.5708026368,
 33.5335188,
 32.5668168,
 30.1825731,
 30.1827353,
 30.1826834,
 30.1825939,
 30.1825487,
 30.1826081,
 33.5323916,
 33.5306322,
 33.5313338,
 33.5313194,
 33.5314288,
 33.5314607,
 33.5313635,
 33.5313784,
 33.5311231,
 33.5313161,
 33.5595509,
 33.559565,
 33.5596156,
 33.5595349,
 33.5595198,
 33.5282237,
 33.5281936,
 33.5281783,
 33.5595797,
 33.5600423,
 33.5600572,
 33.5600321,
 33.5600412,
 33.5599708,
 33.6196912,
 100.8892401,
 33.6297537,
 33.6298237,
 33.6296472,
 33.629465,
 33.4862912,
 33.4863133,
 33.4863631,
 33.4863335,
 33.4863723,
 33.4864195,
 33.4864081,
 32.9848855,
 32.9849851,
 32.9849139,
 32.9849895,
 32.9849372,
 32.9848805,
 32.9847911,
 32.9850861,
 32.9850211,
 32.9849701,
 32.9848929,
 32.98494,
 32.5632553,
 32.5971849,
 32.5695667,
 32.597947906,
 32.6065767,
 32.60674,
 32.6067541,
 32.5415266,
 65.1359292,
 32.5642576,
 32.5686721,
 32.5676417,
 32.5692217,
 130.2768884,
 32.5665607,
 32.5662246,
 32.5665859,
 32.5661209,
 32.5665333,
 32.56631,
 32.5662693,
 32.5653641,
 32.5662367,
 32.5662185,
 32.5674763,
 32.5668563,
 32.5677082,
 32.5667817,
 32.5674133,
 32.567651,
 32.5676542,
 32.5676748,
 32.5674901,
 32.5674533,
 32.5673303,
 32.5672833,
 65.13471150000001,
 32.5678861,
 32.5681098,
 32.5673684,
 32.5673034,
 32.5672993,
 32.5672684,
 32.5673815,
 32.567495,
 32.5675167,
 32.5677791,
 32.5676562,
 32.5678815,
 32.5677417,
 32.5676668,
 32.5678417,
 32.5677226,
 32.5677883,
 32.5676219,
 32.5675734,
 32.5640133,
 32.568458,
 32.5683835,
 32.567634,
 32.5681613,
 32.5495,
 33.6854183,
 33.6854402,
 33.6855196,
 33.685412,
 33.6854177,
 33.6853912,
 33.6853777,
 33.6853945,
 33.6854999,
 33.6853303,
 33.6853288,
 33.6853809,
 33.6856444,
 33.685602,
 33.6854839,
 33.6856018,
 33.6855852,
 33.6856408,
 33.6854765,
 33.6855963,
 33.6853493,
 33.6855736,
 33.68566,
 33.6853402,
 33.6856139,
 33.6854537,
 33.6856152,
 33.6864501,
 33.6855172,
 33.6856882,
 33.6863794,
 33.6856733,
 33.6854393,
 33.6854202,
 33.6856572,
 33.6865009,
 33.6854099,
 33.6865214,
 33.6856189,
 33.6863865,
 33.6862852,
 33.6864521,
 33.686463,
 33.686551,
 33.6856113,
 33.6864767,
 33.6865263,
 33.686489,
 33.6864042,
 33.6865179,
 33.6864781,
 33.6865291,
 33.6863924,
 33.6864018,
 33.6865522,
 33.6864947,
 33.6864407,
 67.373003,
 33.6864114,
 33.6864663,
 33.6866173,
 33.6859656,
 33.6865152,
 33.6864996,
 33.6864221,
 33.6860944,
 33.686419,
 33.6865202,
 33.6865665,
 33.6864996,
 33.6864501,
 33.6863897,
 33.6864973,
 33.6864166,
 33.6864089,
 33.6865429,
 33.6864601,
 33.686385,
 33.6864679,
 33.6860861,
 33.6864793,
 33.6864403,
 33.6864621,
 33.6864167,
 67.3730594,
 33.6861872,
 33.6865267,
 33.6865682,
 33.6865067,
 33.6865567,
 33.6866313,
 33.6861217,
 33.6860263,
 33.6864326,
 33.6865024,
 33.6864532,
 33.6865858,
 33.686457,
 33.6861017,
 33.6865333,
 33.6864191,
 33.6864854,
 33.6864715,
 33.6864429,
 33.6865292,
 33.6864951,
 33.6864311,
 33.6861894,
 33.6864586,
 33.6861266,
 33.686484,
 33.6863683,
 33.6860898,
 33.6864213,
 33.68622,
 33.6864375,
 33.6866089,
 33.6862778,
 67.37261290000001,
 33.6866418,
 33.6863138,
 33.686245,
 33.6864482,
 33.6862394,
 33.6866043,
 33.6863183,
 33.6863697,
 33.686689,
 33.6853475,
 33.685332,
 33.685257,
 33.6852972,
 33.6852692,
 33.6852474,
 33.685343,
 33.6853423,
 33.6852817,
 33.6852834,
 33.6852759,
 33.6852633,
 33.6852981,
 33.6852785,
 33.685227,
 33.6855239,
 33.6853669,
 33.6853467,
 33.6854278,
 33.6854267,
 33.6850827,
 33.6852805,
 33.6850356,
 33.6850715,
 33.6850333,
 33.6853718,
 33.6852194,
 33.6854699,
 33.6853538,
 33.6855034,
 33.6850523,
 33.6852277,
 33.6852698,
 33.685251,
 33.685345,
 33.6852977,
 33.685242,
 33.6851923,
 33.6851621,
 33.6854555,
 33.6850339,
 33.6854276,
 33.6850822,
 33.6852521,
 33.6852038,
 33.6850825,
 33.6853746,
 33.6852395,
 33.6853075,
 33.6849865,
 33.6850534,
 33.6853069,
 33.6852114,
 33.6852602,
 33.6853004,
 33.685257,
 33.6853589,
 33.685277,
 33.6852352,
 33.6853378,
 33.6851738,
 33.6852558,
 33.6852871,
 33.6853023,
 33.685206,
 33.6852451,
 33.6851158,
 33.6852284,
 33.6851979,
 33.6852484,
 33.6853128,
 33.6854581,
 33.6851856,
 33.6851117,
 33.6851887,
 33.6851688,
 33.6851517,
 33.685228,
 33.6852508,
 33.6851616,
 33.6852188,
 33.6849819,
 33.6852434,
 33.6852501,
 33.6852766,
 33.6852259,
 33.685252,
 33.6852218,
 33.6851633,
 33.6850601,
 33.6852515,
 33.6850596,
 33.6850447,
 33.6851676,
 67.3702873,
 33.6851406,
 33.6850533,
 33.6850246,
 33.6850655,
 33.6852687,
 33.6852674,
 33.6852641,
 33.6851293,
 33.6853453,
 33.6849845,
 33.684991,
 33.6849083,
 33.6850266,
 33.6849736,
 33.6849368,
 33.6849716,
 33.684915,
 32.6214479,
 33.8560869,
 33.8560398,
 97.87999110000001,
 32.6269126,
 32.6350729,
 32.6244646,
 32.6248574,
 ...]

In [42]:
list(beans['BEAN_GPS_LNG'].groupby(beans['BEAN_GPS_LAT']).mean())

[31.7046492,
 31.7046431,
 31.7046917,
 31.704659,
 31.7046612,
 31.7047026,
 31.7047013,
 31.7047091,
 31.7046772,
 31.7046727,
 31.7048552,
 31.7047968,
 31.7048225,
 31.7048081,
 31.7048357,
 31.7048417,
 31.7047848,
 31.7048056,
 31.7048415,
 31.7048187,
 31.7048093,
 31.7048334,
 31.7053874,
 31.7053469,
 31.7063016,
 31.7059479,
 31.7057206,
 31.7058832,
 31.7058454,
 31.70644,
 31.7060587,
 31.7060274,
 31.7058461,
 31.7060413,
 31.7059982,
 31.7059778,
 31.7058123,
 31.7061056,
 31.7058384,
 31.7058664,
 31.7069045,
 31.7060171,
 31.7060128,
 31.7058538,
 31.7068555,
 31.7056932,
 31.7063704,
 31.7056864,
 31.706121,
 31.7056578,
 31.7060706,
 31.706084,
 31.7069714,
 31.7060833,
 31.7061194,
 31.7062619,
 31.7060925,
 31.705812,
 31.7060725,
 31.7057691,
 31.7056755,
 31.705712,
 31.7057982,
 31.7061072,
 31.7057385,
 31.7061096,
 31.7062654,
 31.7061909,
 31.7062781,
 31.7062379,
 31.7063697,
 31.7061361,
 31.7063157,
 31.7061292,
 31.7062161,
 31.7062108,
 31.70624035,
 31.7062861,
 31.7062285,
 31.706282,
 31.7062754,
 31.7062338,
 31.7063379,
 31.7062306,
 31.7063391,
 31.70625,
 31.7062401,
 31.7062633,
 31.705929,
 31.7061818,
 31.7062776,
 31.7062431,
 31.7059245,
 31.7062685,
 31.7057951,
 31.706296,
 31.7062299,
 31.7061559,
 31.7062663,
 31.7062676,
 31.7057194,
 31.7063445,
 31.705953,
 31.7062583,
 31.7058236,
 31.7058952,
 31.7061827,
 31.7063421,
 31.7061965,
 31.7062704,
 31.7059078,
 31.7062267,
 31.706186,
 31.706239,
 31.7062867,
 31.7062893,
 31.7061677,
 31.7062906,
 31.7060525,
 31.7060309,
 31.7062074,
 31.705878,
 31.7060909,
 31.7056639,
 31.705934,
 31.7061142,
 31.7054717,
 31.7054689,
 31.7054161,
 31.7054026,
 31.7053967,
 31.7054218,
 31.7054477,
 31.7054751,
 31.7054285,
 31.7054545,
 31.7054975,
 31.7054508,
 31.7060833,
 31.7054254,
 31.705446,
 31.7054846,
 31.7054646,
 31.7050768,
 31.7050693,
 31.704932,
 31.7050387,
 31.7040341,
 31.7124103,
 31.707181,
 31.7072084,
 31.7071995,
 31.7071814,
 31.7070275,
 31.7071069,
 31.7071902,
 31.7072306,
 31.7073018,
 31.707155,
 31.7072593,
 31.707214,
 31.7071311,
 31.7071358,
 31.7072163,
 31.7072144,
 31.7071641,
 31.7068524,
 31.7068277,
 31.7068461,
 31.7068732,
 31.7068725,
 31.7068595,
 31.7068469,
 31.7068785,
 31.7068412,
 31.7072371,
 31.707235,
 31.7069492,
 31.706952,
 31.7053514,
 31.7053668,
 31.7054042,
 31.7053085,
 31.7052923,
 31.7054192,
 31.7047878,
 31.7046713,
 31.704665,
 31.7045887,
 31.7046276,
 31.704621,
 31.7045617,
 31.7045339,
 31.7044884,
 31.7045024,
 31.704493,
 31.7036163,
 31.7036326,
 31.7036984,
 31.720943,
 31.7282705,
 31.7348606,
 31.7368436,
 31.7376506,
 31.7376498,
 31.7375729,
 31.7376172,
 31.7379783,
 31.7380245,
 31.7384556,
 31.7459164,
 31.7597813,
 31.7608768,
 31.7620378,
 31.7644159,
 31.7666669,
 31.7753999,
 31.7754298,
 31.7763668,
 31.7852966,
 31.7939096,
 31.802098,
 31.8158877,
 31.8092455,
 31.8095189,
 31.8167421,
 31.816728,
 31.81677,
 31.8198991,
 31.8299529,
 31.833654,
 31.8378335,
 31.8434005,
 31.847553,
 31.8495835,
 31.8608962,
 31.8697825,
 31.8720245,
 31.8758133,
 31.8757584,
 32.4705517,
 32.4721351,
 32.4721136,
 32.4720965,
 32.4721811,
 32.4721779,
 32.4721533,
 32.4721106,
 32.472089,
 32.4722246,
 32.4721465,
 32.4612067,
 32.4656539,
 32.468485,
 32.468838,
 32.4674228,
 32.4677766,
 32.4677767,
 32.4689228,
 32.469234499999985,
 32.4737542,
 32.4703363,
 32.4699157,
 32.4685906,
 32.4740954,
 32.4691196,
 32.4689178,
 32.4782738,
 32.4782751,
 32.4714221,
 32.46790293200001,
 32.46794669999998,
 32.4648497,
 32.4649024,
 32.4648913,
 32.4648935,
 32.4651033,
 32.4642767,
 32.4648854,
 32.464945,
 32.464903,
 32.4649478,
 32.4648453,
 32.4649539,
 32.4648822,
 32.464792,
 32.4649282,
 32.4648984,
 32.464915899999994,
 32.4648014,
 32.4649455,
 32.4649529,
 32.4648954,
 32.4649325,
 32.464941,
 32.4649129,
 32.4648647,
 32.4648678,
 32.4648817,
 32.464937,
 32.4649037,
 32.4648489,
 32.4649672,
 32.4648642,
 32.4649117,
 32.4649782,
 32.4649246,
 32.4649669,
 32.4648635,
 32.4649008,
 32.4648686,
 32.4649029,
 32.464975,
 32.4648783,
 32.4649541,
 32.4648861,
 32.4648592,
 32.4647817,
 32.4648717,
 32.4649405,
 32.4649579,
 32.4649323,
 32.4648748,
 32.4649497,
 32.464927,
 32.4648986,
 32.4648562,
 32.464895,
 32.4649328,
 32.4648919,
 32.4648549,
 32.4648593,
 32.4649027,
 32.4648027,
 32.4649037,
 32.4649559,
 32.4650083,
 32.4648983,
 32.4648812,
 32.4648868,
 32.4649764,
 32.4648401,
 32.4647547,
 32.4651708,
 32.4648567,
 32.4648595,
 32.46509,
 32.4648462,
 32.464885,
 32.4648544,
 32.4648955,
 32.4649,
 32.4650056,
 32.4648933,
 32.4650184,
 32.4649188,
 32.4650594,
 32.4652464,
 32.4652096,
 32.4649296,
 32.4648717,
 32.4649912,
 32.4649127,
 32.4649933,
 32.4650404,
 32.4646648,
 32.4649202,
 32.4649615,
 32.4649182,
 32.46490915,
 32.4648844,
 32.4649114,
 32.4649472,
 32.4649554,
 32.4649292,
 32.4649049,
 32.4645843,
 32.4649381,
 32.46517,
 32.4650964,
 32.4649491,
 32.4651153,
 32.4650774,
 32.4646747,
 32.4650031,
 32.4646317,
 32.46498,
 32.4651145,
 32.4650166,
 32.4648992,
 32.4649536,
 32.4650402,
 32.4650295,
 32.464684,
 32.4650705,
 32.4650469,
 32.4644464,
 32.465127,
 32.4650597,
 32.4649359,
 32.46463085,
 32.4650128,
 32.465102,
 32.4650499,
 32.4650617,
 32.4650217,
 32.4650879,
 32.4648944,
 32.4650625,
 32.4650382,
 32.4650677,
 32.4650599,
 32.4652883,
 32.4650763,
 32.4650176,
 32.4651221,
 32.4649139,
 32.4647546,
 32.4650309,
 32.4650127,
 32.465097,
 32.4645043,
 32.4648217,
 32.4650324,
 32.4645763,
 32.4646165,
 32.4649783,
 32.4645806,
 32.4646031,
 32.4649667,
 32.4645197,
 32.4644267,
 32.4645462,
 32.46503,
 32.4645495,
 32.4645449,
 32.464925,
 32.4649382,
 32.4646378,
 32.4648456,
 32.46493,
 32.4648624,
 32.4650293,
 32.4649333,
 32.4648129,
 32.4648598,
 32.464625,
 32.46496,
 32.4649753,
 32.4649162,
 32.4649616,
 32.465005,
 32.4649573,
 32.4649369,
 32.4650149,
 32.464969,
 32.4649267,
 32.4649374,
 32.464719,
 32.4649853,
 32.4650364,
 32.4649892,
 32.4649547,
 32.4649778,
 32.4650289,
 32.4649068,
 32.4649875,
 32.4648798,
 32.4650399,
 32.46479415,
 32.4648775,
 32.4649326,
 32.4649229,
 32.4649301,
 32.4649267,
 32.4648425,
 32.4649187,
 32.4648931,
 32.4649199,
 32.4649492,
 32.464873,
 32.4648745,
 32.4649495,
 32.4649723,
 32.4650281,
 32.4648866,
 32.46499,
 32.4649531,
 32.4649939,
 32.4648749,
 32.46498,
 32.46483,
 32.4649467,
 32.4649569,
 32.4649349,
 32.4650583,
 32.4648779,
 32.4649595,
 32.4648791,
 32.4650833,
 32.4647667,
 32.46492,
 32.4647088,
 32.4648068,
 32.4650415,
 32.4647708,
 32.4650117,
 32.4647397,
 32.460255,
 32.4602672,
 32.4647579,
 32.4647768,
 32.46504,
 32.4647482,
 32.4626892,
 32.4647456,
 32.461334725,
 32.465145,
 32.4602667,
 32.4650557,
 32.4602983,
 32.4602833,
 32.4647389,
 32.464781,
 32.4644792,
 32.470908300000005,
 30.4488813,
 33.554582,
 33.5024038,
 33.4972778,
 30.1201286,
 30.120213,
 33.4865882,
 33.4872491,
 33.4879046,
 33.4876962,
 33.4877112,
 33.4930763,
 33.4926708,
 33.4961612,
 33.4896942,
 33.4918063,
 33.4918183,
 33.49181,
 33.49185,
 33.491805,
 33.4918237,
 33.4918433,
 33.4918267,
 33.49167,
 33.4917133,
 33.4916467,
 33.491635,
 33.4911677,
 33.4915411,
 33.4912864,
 33.491754,
 33.491738,
 33.4915711,
 33.491385,
 33.4918207,
 33.4915765,
 33.491797,
 33.4916559,
 33.4917805,
 33.4911666,
 33.491632,
 33.4912025,
 33.4918436,
 33.4916038,
 33.4918174,
 33.4918457,
 33.4914919,
 33.4917998,
 33.4911583,
 33.4918323,
 33.4913986,
 33.4912474,
 33.4911955,
 33.4903105,
 33.4903433,
 33.4903405,
 33.4907461,
 33.490738,
 33.4907811,
 33.4906742,
 33.4906117,
 33.4906417,
 33.4905164,
 33.4891994,
 32.582925,
 32.5885408,
 32.5885333,
 32.5885451,
 32.5885317,
 32.588525,
 32.5885681,
 32.58859375,
 32.5885983,
 32.5886122,
 32.5886267,
 32.5885817,
 32.5886005,
 32.5885983,
 32.5885672,
 32.58729,
 32.5853383,
 33.5477828,
 33.5397331,
 32.5720024,
 32.5720937,
 32.6142534,
 32.6142456,
 32.6142433,
 32.6142469,
 32.6142085,
 32.6141548,
 32.6141501,
 32.6142027,
 32.5706696,
 32.5749892,
 32.5703249,
 32.5704636,
 32.5703959,
 32.5704012,
 32.5703698,
 32.5704247,
 32.5703621,
 32.5703629,
 32.5704493,
 32.5704425,
 32.5707739,
 32.5708026368,
 33.5335188,
 32.5668168,
 30.1825731,
 30.1827353,
 30.1826834,
 30.1825939,
 30.1825487,
 30.1826081,
 33.5323916,
 33.5306322,
 33.5313338,
 33.5313194,
 33.5314288,
 33.5314607,
 33.5313635,
 33.5313784,
 33.5311231,
 33.5313161,
 33.5595509,
 33.559565,
 33.5596156,
 33.5595349,
 33.5595198,
 33.5282237,
 33.5281936,
 33.5281783,
 33.5595797,
 33.5600423,
 33.5600572,
 33.5600321,
 33.5600412,
 33.5599708,
 33.6196912,
 33.6297467,
 33.6297537,
 33.6298237,
 33.6296472,
 33.629465,
 33.4862912,
 33.4863133,
 33.4863631,
 33.4863335,
 33.4863723,
 33.4864195,
 33.4864081,
 32.9848855,
 32.9849851,
 32.9849139,
 32.9849895,
 32.9849372,
 32.9848805,
 32.9847911,
 32.9850861,
 32.9850211,
 32.9849701,
 32.9848929,
 32.98494,
 32.5632553,
 32.5971849,
 32.5695667,
 32.597947906,
 32.6065767,
 32.60674,
 32.6067541,
 32.5415266,
 32.5679646,
 32.5642576,
 32.5686721,
 32.5676417,
 32.5692217,
 32.5692221,
 32.5665607,
 32.5662246,
 32.5665859,
 32.5661209,
 32.5665333,
 32.56631,
 32.5662693,
 32.5653641,
 32.5662367,
 32.5662185,
 32.5674763,
 32.5668563,
 32.5677082,
 32.5667817,
 32.5674133,
 32.567651,
 32.5676542,
 32.5676748,
 32.5674901,
 32.5674533,
 32.5673303,
 32.5672833,
 32.567355750000004,
 32.5678861,
 32.5681098,
 32.5673684,
 32.5673034,
 32.5672993,
 32.5672684,
 32.5673815,
 32.567495,
 32.5675167,
 32.5677791,
 32.5676562,
 32.5678815,
 32.5677417,
 32.5676668,
 32.5678417,
 32.5677226,
 32.5677883,
 32.5676219,
 32.5675734,
 32.5640133,
 32.568458,
 32.5683835,
 32.567634,
 32.5681613,
 32.5495,
 33.6854183,
 33.6854402,
 33.6855196,
 33.685412,
 33.6854177,
 33.6853912,
 33.6853777,
 33.6853945,
 33.6854999,
 33.6853303,
 33.6853288,
 33.6853809,
 33.6856444,
 33.685602,
 33.6854839,
 33.6856018,
 33.6855852,
 33.6856408,
 33.6854765,
 33.6855963,
 33.6853493,
 33.6855736,
 33.68566,
 33.6853402,
 33.6856139,
 33.6854537,
 33.6856152,
 33.6864501,
 33.6855172,
 33.6856882,
 33.6863794,
 33.6856733,
 33.6854393,
 33.6854202,
 33.6856572,
 33.6865009,
 33.6854099,
 33.6865214,
 33.6856189,
 33.6863865,
 33.6862852,
 33.6864521,
 33.686463,
 33.686551,
 33.6856113,
 33.6864767,
 33.6865263,
 33.686489,
 33.6864042,
 33.6865179,
 33.6864781,
 33.6865291,
 33.6863924,
 33.6864018,
 33.6865522,
 33.6864947,
 33.6864407,
 33.6865015,
 33.6864114,
 33.6864663,
 33.6866173,
 33.6859656,
 33.6865152,
 33.6864996,
 33.6864221,
 33.6860944,
 33.686419,
 33.6865202,
 33.6865665,
 33.6864996,
 33.6864501,
 33.6863897,
 33.6864973,
 33.6864166,
 33.6864089,
 33.6865429,
 33.6864601,
 33.686385,
 33.6864679,
 33.6860861,
 33.6864793,
 33.6864403,
 33.6864621,
 33.6864167,
 33.6865297,
 33.6861872,
 33.6865267,
 33.6865682,
 33.6865067,
 33.6865567,
 33.6866313,
 33.6861217,
 33.6860263,
 33.6864326,
 33.6865024,
 33.6864532,
 33.6865858,
 33.686457,
 33.6861017,
 33.6865333,
 33.6864191,
 33.6864854,
 33.6864715,
 33.6864429,
 33.6865292,
 33.6864951,
 33.6864311,
 33.6861894,
 33.6864586,
 33.6861266,
 33.686484,
 33.6863683,
 33.6860898,
 33.6864213,
 33.68622,
 33.6864375,
 33.6866089,
 33.6862778,
 33.686306450000004,
 33.6866418,
 33.6863138,
 33.686245,
 33.6864482,
 33.6862394,
 33.6866043,
 33.6863183,
 33.6863697,
 33.686689,
 33.6853475,
 33.685332,
 33.685257,
 33.6852972,
 33.6852692,
 33.6852474,
 33.685343,
 33.6853423,
 33.6852817,
 33.6852834,
 33.6852759,
 33.6852633,
 33.6852981,
 33.6852785,
 33.685227,
 33.6855239,
 33.6853669,
 33.6853467,
 33.6854278,
 33.6854267,
 33.6850827,
 33.6852805,
 33.6850356,
 33.6850715,
 33.6850333,
 33.6853718,
 33.6852194,
 33.6854699,
 33.6853538,
 33.6855034,
 33.6850523,
 33.6852277,
 33.6852698,
 33.685251,
 33.685345,
 33.6852977,
 33.685242,
 33.6851923,
 33.6851621,
 33.6854555,
 33.6850339,
 33.6854276,
 33.6850822,
 33.6852521,
 33.6852038,
 33.6850825,
 33.6853746,
 33.6852395,
 33.6853075,
 33.6849865,
 33.6850534,
 33.6853069,
 33.6852114,
 33.6852602,
 33.6853004,
 33.685257,
 33.6853589,
 33.685277,
 33.6852352,
 33.6853378,
 33.6851738,
 33.6852558,
 33.6852871,
 33.6853023,
 33.685206,
 33.6852451,
 33.6851158,
 33.6852284,
 33.6851979,
 33.6852484,
 33.6853128,
 33.6854581,
 33.6851856,
 33.6851117,
 33.6851887,
 33.6851688,
 33.6851517,
 33.685228,
 33.6852508,
 33.6851616,
 33.6852188,
 33.6849819,
 33.6852434,
 33.6852501,
 33.6852766,
 33.6852259,
 33.685252,
 33.6852218,
 33.6851633,
 33.6850601,
 33.6852515,
 33.6850596,
 33.6850447,
 33.6851676,
 33.68514365,
 33.6851406,
 33.6850533,
 33.6850246,
 33.6850655,
 33.6852687,
 33.6852674,
 33.6852641,
 33.6851293,
 33.6853453,
 33.6849845,
 33.684991,
 33.6849083,
 33.6850266,
 33.6849736,
 33.6849368,
 33.6849716,
 33.684915,
 32.6214479,
 33.8560869,
 33.8560398,
 32.6266637,
 32.6269126,
 32.6350729,
 32.6244646,
 32.6248574,
 ...]

In [43]:
list(beans['BEAN_GPS_LNG'].groupby(beans['BEAN_GPS_LAT']).std())

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 7.000357133908868e-06,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 0.0,
 nan,
 0.0,
 nan,
 0.0,
 0.0,
 nan,
 nan,
 0.0,
 0.0,
 0.0,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 1.1075498606583377e-07,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 8.541849916319682e-05,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.6263455966423682e-05,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 5.868986284605896e-06,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0005739585742890215,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 6.484169183639621e-05,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0033693638123582304,
 nan,
 0.0021752142245116757,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.7041273429794236e-05,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.30814754515815e-05,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 2.8425692604281097e-05,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 6.123544725290841e-05,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.00019325228329320314,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 3.203193718525675e-05,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 ...]

In [44]:
beans.groupby(['BEAN_GPS_ACC']).mean()

,MODEL_VERSION,UI_VERSION,IS_COMPLETE,BEAN_GPS_LNG,BEAN_GPS_ALT,BEAN_GPS_LAT
BEAN_GPS_ACC,,,,,,
3.000,0.0,0.0,0.65,32.491869,1117.44,1.405447
3.007,0.0,0.0,0.00,33.124729,1091.10,0.982926
3.009,0.0,0.0,0.00,33.120490,1099.90,0.960506
3.016,0.0,0.0,0.00,33.124721,1091.10,0.982927
3.025,0.0,0.0,0.00,33.124760,1091.90,0.982904
...,...,...,...,...,...,...
4637.000,0.0,0.0,1.00,34.310033,0.00,1.298294
4702.000,0.0,0.0,1.00,30.908841,0.00,2.930485
4863.000,0.0,0.0,1.00,33.619691,0.00,0.378609
5000.000,0.0,0.0,1.00,33.534877,0.00,0.294689
8065.780,0.0,0.0,0.00,32.194290,1098.00,0.888078

In [45]:
beans.groupby('BEAN_DATA_COMMENT').sum()

,MODEL_VERSION,UI_VERSION,IS_COMPLETE,BEAN_GPS_LNG,BEAN_GPS_ALT,BEAN_GPS_ACC,BEAN_GPS_LAT
BEAN_DATA_COMMENT,,,,,,,
,0.0,0.0,2639,93533.608339,2.910581e+06,636128.109,2306.567604
. Multiple observation,0.0,0.0,1,31.789637,8.037000e+02,4.916,3.375614
. multiple observation,0.0,0.0,1,31.793364,8.048000e+02,4.820,3.366759
A lot of weed,0.0,0.0,1,32.566218,1.166100e+03,6.066,0.432989
A pest inside a flower,0.0,0.0,1,32.566561,1.187800e+03,4.850,0.432659
...,...,...,...,...,...,...,...
still fine,0.0,0.0,1,32.611474,1.165300e+03,3.237,0.525711
tearing leaves,0.0,0.0,1,32.607041,1.146900e+03,4.908,0.525026
the all field affected,0.0,0.0,1,33.447327,1.124600e+03,4.993,1.537872
torn and rough leaves,0.0,0.0,1,32.606251,1.147000e+03,4.149,0.525359
withering plants,0.0,0.0,1,32.611390,1.151400e+03,4.259,0.525764

### Creating new column so as to deal with data in form of months

In [46]:
new_beans['beans_mnth_yr'] = new_beans.CREATION_DATE.dt.to_period('M')
new_beans.head(3)

,URI,CREATION_DATE,LAST_UPDATE_DATE,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,BEAN_DATA_END_TIME,BEAN_VARIETY,BEAN_GPS_LNG,BEAN_GPS_ALT,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,beans_mnth_yr
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,2019-09-23 00:37:14.242,2019-09-23 00:37:14.242,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,2019-09-23 00:35:30.644,I do not know,32.597185,0.000000,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,2019-09
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,2019-09-23 00:47:25.150,2019-09-23 00:47:25.150,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,2019-09-23 00:46:43.390,NaN,32.597948,1158.655716,other,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,2019-09
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,2019-09-23 13:09:22.873,2019-10-03 09:16:10.751,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,2019-09-23 12:23:40.590,Not clear,32.625300,1156.700000,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,2019-09

In [51]:
beans[['CREATION_DATE','SUBMISSION_DATE']]

                CREATION_DATE         SUBMISSION_DATE
0     2019-09-23 00:37:14.242 2019-09-23 00:37:14.227
1     2019-09-23 00:47:25.150 2019-09-23 00:47:25.139
2     2019-09-23 13:09:22.873 2019-09-23 13:09:22.858
3     2019-09-23 13:09:42.299 2019-09-23 13:09:42.293
4     2019-09-23 13:13:06.757 2019-09-23 13:13:06.750
...                       ...                     ...
12850 2020-04-26 15:57:34.445 2020-04-26 15:57:34.429
12851 2020-04-26 15:57:39.266 2020-04-26 15:57:39.252
12852 2020-04-26 16:32:28.237 2020-04-26 16:32:28.226
12853 2020-04-26 16:32:35.680 2020-04-26 16:32:35.652
12854 2020-04-26 16:32:49.304 2020-04-26 16:32:49.297

[12855 rows x 2 columns]

In [47]:
#USING CREATION DATE
period = pd.date_range(start='2019-09-23 00:37:14.242', end='2020-04-26 16:32:49.304', freq='M')
period

DatetimeIndex(['2019-09-30 00:37:18.097000', '2019-10-31 00:37:18.097000',
               '2019-11-30 00:37:18.097000', '2019-12-31 00:37:18.097000',
               '2020-01-31 00:37:18.097000', '2020-02-29 00:37:18.097000',
               '2020-03-31 00:37:18.097000'],
              dtype='datetime64[ns]', freq='M')

In [52]:
#USING SUBMISSION DATE
period = pd.date_range(start='2019-09-23 00:37:14.227', end='2020-04-26 16:32:49.297', freq='M')
period

DatetimeIndex(['2019-09-30 00:37:14.227000', '2019-10-31 00:37:14.227000',
               '2019-11-30 00:37:14.227000', '2019-12-31 00:37:14.227000',
               '2020-01-31 00:37:14.227000', '2020-02-29 00:37:14.227000',
               '2020-03-31 00:37:14.227000'],
              dtype='datetime64[ns]', freq='M')

In [54]:
new_beans['bean_month'] = pd.DatetimeIndex(beans['CREATION_DATE']).month
new_beans.head(3)

,URI,CREATION_DATE,LAST_UPDATE_DATE,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,BEAN_DATA_END_TIME,BEAN_VARIETY,BEAN_GPS_LNG,BEAN_GPS_ALT,BEAN_IMAGE_CLASS,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,beans_mnth_yr,bean_month
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,2019-09-23 00:37:14.242,2019-09-23 00:37:14.242,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,2019-09-23 00:35:30.644,I do not know,32.597185,0.000000,other,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,2019-09,9
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,2019-09-23 00:47:25.150,2019-09-23 00:47:25.150,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,2019-09-23 00:46:43.390,NaN,32.597948,1158.655716,other,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,2019-09,9
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,2019-09-23 13:09:22.873,2019-10-03 09:16:10.751,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,2019-09-23 12:23:40.590,Not clear,32.625300,1156.700000,other,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,2019-09,9

In [57]:
new_beans['month_year'] = pd.to_datetime(beans['CREATION_DATE']).dt.to_period('M')
new_beans.iloc[:,[0,17,18]]

                                             URI  bean_month month_year
0      uuid:b312522b-f322-43ad-bc31-75df9bd5228b           9    2019-09
1      uuid:8305c43b-00fb-4419-9f54-28388d176080           9    2019-09
2      uuid:d321337b-2369-4479-a39b-7804b79489d8           9    2019-09
3      uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044           9    2019-09
4      uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74           9    2019-09
...                                          ...         ...        ...
12850  uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870           4    2020-04
12851  uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a           4    2020-04
12852  uuid:786bf823-9487-4e59-a628-fcf726404c65           4    2020-04
12853  uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0           4    2020-04
12854  uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f           4    2020-04

[12855 rows x 3 columns]

In [58]:
new_beans.groupby('month_year').sum()

,IS_COMPLETE,BEAN_GPS_LNG,BEAN_GPS_ALT,BEAN_GPS_ACC,BEAN_GPS_LAT,bean_month
month_year,,,,,,
2019-09,137,4605.286016,1.466546e+05,34024.114,164.496885,1251
2019-10,1441,93425.757765,3.074216e+06,212457.455,2688.588765,28250
2019-11,2186,150709.879887,4.845098e+06,421867.005,4467.676065,50259
2019-12,1237,60479.077510,1.844083e+06,394363.566,1956.190479,22020
2020-01,367,47165.467073,1.569958e+06,17376.237,1483.402682,1429
2020-02,417,28938.037496,9.410678e+05,52318.569,897.123203,1758
2020-03,510,28570.216152,9.562227e+05,100089.126,640.909386,2613
2020-04,308,10113.558296,3.334269e+05,2973.576,239.258915,1232

In [59]:
new_beans.columns

Index(['URI', 'CREATION_DATE', 'LAST_UPDATE_DATE', 'IS_COMPLETE',
       'SUBMISSION_DATE', 'MARKED_AS_COMPLETE_DATE', 'BEAN_DATA_END_TIME',
       'BEAN_VARIETY', 'BEAN_GPS_LNG', 'BEAN_GPS_ALT', 'BEAN_IMAGE_CLASS',
       'BEAN_DATA_COMMENT', 'BEAN_GPS_ACC', 'BEAN_DATA_SUBMISSION_TIME',
       'BEAN_GPS_LAT', 'BEAN_DATA_START_TIME', 'beans_mnth_yr', 'bean_month',
       'month_year'],
      dtype='object')

### To find out how long users too to fill in the data

In [60]:
#Use the start time and end time
#First group by start time and end time
new_beans.groupby('BEAN_DATA_START_TIME').sum()

,IS_COMPLETE,BEAN_GPS_LNG,BEAN_GPS_ALT,BEAN_GPS_ACC,BEAN_GPS_LAT,bean_month
BEAN_DATA_START_TIME,,,,,,
2017-01-01 00:01:24.308,1,32.527719,1277.1,10.000,0.730819,12
2017-01-01 00:02:26.297,1,30.946718,0.0,4609.000,3.581953,1
2017-01-01 00:05:57.802,1,31.795899,859.5,4.420,3.363400,11
2017-01-01 00:07:27.175,1,31.795949,859.5,3.980,3.363378,11
2017-01-01 00:08:33.468,1,31.795943,859.5,4.060,3.363450,11
...,...,...,...,...,...,...
2020-04-26 13:52:35.148,1,32.423546,1145.7,4.652,0.715541,4
2020-04-26 13:55:28.030,1,32.423390,1145.7,4.696,0.715398,4
2020-04-26 13:57:10.233,1,32.423201,1116.6,4.250,0.715275,4
2020-04-26 14:00:04.459,1,32.423198,1116.7,4.542,0.715225,4
2020-04-26 14:01:32.528,1,32.423290,1116.8,4.963,0.715599,4

In [63]:
#Looking at the result, it shows that all data was submitted on the same day it was created.
new_beans['diff'] = (new_beans['CREATION_DATE'] - new_beans['SUBMISSION_DATE']).dt.days
new_beans.iloc[:,[1,4,19]]

                CREATION_DATE         SUBMISSION_DATE  diff
0     2019-09-23 00:37:14.242 2019-09-23 00:37:14.227     0
1     2019-09-23 00:47:25.150 2019-09-23 00:47:25.139     0
2     2019-09-23 13:09:22.873 2019-09-23 13:09:22.858     0
3     2019-09-23 13:09:42.299 2019-09-23 13:09:42.293     0
4     2019-09-23 13:13:06.757 2019-09-23 13:13:06.750     0
...                       ...                     ...   ...
12850 2020-04-26 15:57:34.445 2020-04-26 15:57:34.429     0
12851 2020-04-26 15:57:39.266 2020-04-26 15:57:39.252     0
12852 2020-04-26 16:32:28.237 2020-04-26 16:32:28.226     0
12853 2020-04-26 16:32:35.680 2020-04-26 16:32:35.652     0
12854 2020-04-26 16:32:49.304 2020-04-26 16:32:49.297     0

[12855 rows x 3 columns]

In [68]:
new_beans['time_diff'] = pd.to_datetime(new_beans.BEAN_DATA_START_TIME) - pd.to_datetime(new_beans.BEAN_DATA_END_TIME)
new_beans.iloc[:,[6,15,20]]

           BEAN_DATA_END_TIME    BEAN_DATA_START_TIME                time_diff
0     2019-09-23 00:35:30.644 2019-09-23 00:32:32.194 -1 days +23:57:01.550000
1     2019-09-23 00:46:43.390 2019-09-23 00:44:56.938 -1 days +23:58:13.548000
2     2019-09-23 12:23:40.590 2019-09-23 12:21:06.861 -1 days +23:57:26.271000
3     2019-09-23 12:57:58.117 2019-09-23 12:55:59.742 -1 days +23:58:01.625000
4     2019-09-23 12:35:02.914 2019-09-23 12:33:52.393 -1 days +23:58:49.479000
...                       ...                     ...                      ...
12850 2020-04-26 13:33:51.851 2020-04-26 13:32:47.011 -1 days +23:58:55.160000
12851 2020-04-26 13:35:42.052 2020-04-26 13:35:07.165 -1 days +23:59:25.113000
12852 2020-04-26 16:25:55.683 2020-04-26 13:37:43.468 -1 days +21:11:47.785000
12853 2020-04-26 16:27:00.481 2020-04-26 13:38:35.999 -1 days +21:11:35.518000
12854 2020-04-26 16:27:30.181 2020-04-26 13:43:00.494 -1 days +21:15:30.313000

[12855 rows x 3 columns]

# SUMMARY STATISTICS

In [70]:
#Therefore this is the number of times data was collected in each month from September of 2019 to April of 2020
new_beans['bean_month'].value_counts()

11    4569
10    2825
12    1835
1     1429
2      879
3      871
4      308
9      139
Name: bean_month, dtype: int64

In [71]:
#summary statistics for image classes shows how many crops were suffering from a certain disease.
new_beans['BEAN_IMAGE_CLASS'].value_counts()

als        5728
anc        3359
other      2536
healthy     925
weed        306
Name: BEAN_IMAGE_CLASS, dtype: int64

In [72]:
#number of valid and invalid images captured by the users
new_beans['IS_COMPLETE'].value_counts()

1    6603
0    6252
Name: IS_COMPLETE, dtype: int64

In [73]:
#number of times each comment appeared
new_beans['BEAN_DATA_COMMENT'].value_counts()

Diseased                                                         5341
                                                                 2858
Yellowing of the leaves with brownspots between the veins        1541
Brown spots on leaves                                             156
Disaeased                                                         145
                                                                 ...
Leaves affected  and are folded                                     1
Common necrosis                                                     1
Very serious at most of the bean plants.                            1
Drying of the plant                                                 1
Pollen beetles and rotten flowers are seen on the bean plant.       1
Name: BEAN_DATA_COMMENT, Length: 1008, dtype: int64

## Dealing with image data

In [78]:
beans.iloc[:,[0,15,7,22]]

,URI,BEAN_IMAGE_CLASS,IS_COMPLETE,BEAN_IMAGE_LINKS
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,other,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,other,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,other,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
3,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,als,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
4,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,other,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
...,...,...,...,...
12850,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,other,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
12851,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,healthy,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
12852,uuid:786bf823-9487-4e59-a628-fcf726404c65,healthy,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
12853,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,other,1,http://3.19.236.194:8080/ODKAggregate/view/bin...
12854,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,healthy,1,http://3.19.236.194:8080/ODKAggregate/view/bin...

In [74]:
beans.columns

Index(['URI', 'CREATOR_USER_ID', 'CREATION_DATE', 'LAST_UPDATE_USER_ID',
       'LAST_UPDATE_DATE', 'MODEL_VERSION', 'UI_VERSION', 'IS_COMPLETE',
       'SUBMISSION_DATE', 'MARKED_AS_COMPLETE_DATE', 'BEAN_DATA_END_TIME',
       'BEAN_VARIETY', 'BEAN_GPS_LNG', 'BEAN_GPS_ALT', 'META_INSTANCE_ID',
       'BEAN_IMAGE_CLASS', 'BEAN_DATA_COMMENT', 'BEAN_GPS_ACC',
       'BEAN_DATA_SUBMISSION_TIME', 'BEAN_GPS_LAT', 'BEAN_DATA_START_TIME',
       'BEAN_DEVICE_ID', 'BEAN_IMAGE_LINKS'],
      dtype='object')

In [75]:
beans.shape

(12855, 23)

In [79]:
new_beans_valid = new_beans[new_beans['IS_COMPLETE'] == 1]
new_beans_valid

,URI,CREATION_DATE,LAST_UPDATE_DATE,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,BEAN_DATA_END_TIME,BEAN_VARIETY,BEAN_GPS_LNG,BEAN_GPS_ALT,...,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,beans_mnth_yr,bean_month,month_year,diff,time_diff
0,uuid:b312522b-f322-43ad-bc31-75df9bd5228b,2019-09-23 00:37:14.242,2019-09-23 00:37:14.242,1,2019-09-23 00:37:14.227,2019-09-23 00:37:14.227,2019-09-23 00:35:30.644,I do not know,32.597185,0.000000,...,Testing,2099.999,2019-09-23,0.422191,2019-09-23 00:32:32.194,2019-09,9,2019-09,0,-1 days +23:57:01.550000
1,uuid:8305c43b-00fb-4419-9f54-28388d176080,2019-09-23 00:47:25.150,2019-09-23 00:47:25.150,1,2019-09-23 00:47:25.139,2019-09-23 00:47:25.139,2019-09-23 00:46:43.390,NaN,32.597948,1158.655716,...,,4.000,2019-09-23,0.427186,2019-09-23 00:44:56.938,2019-09,9,2019-09,0,-1 days +23:58:13.548000
2,uuid:d321337b-2369-4479-a39b-7804b79489d8,2019-09-23 13:09:22.873,2019-10-03 09:16:10.751,1,2019-09-23 13:09:22.858,2019-10-03 09:16:10.736,2019-09-23 12:23:40.590,Not clear,32.625300,1156.700000,...,I don't the disease,4.813,2019-09-23,0.521643,2019-09-23 12:21:06.861,2019-09,9,2019-09,0,-1 days +23:57:26.271000
3,uuid:aad12a8d-d9a7-4251-8974-8d03dc12d044,2019-09-23 13:09:42.299,2019-09-23 13:09:42.299,1,2019-09-23 13:09:42.293,2019-09-23 13:09:42.293,2019-09-23 12:57:58.117,NaN,32.625314,1146.000000,...,Commlon bacteria blight,7.300,2019-09-23,0.521536,2019-09-23 12:55:59.742,2019-09,9,2019-09,0,-1 days +23:58:01.625000
4,uuid:b350bff5-91e3-47e3-83d0-86e057bc9c74,2019-09-23 13:13:06.757,2019-09-23 13:13:06.757,1,2019-09-23 13:13:06.750,2019-09-23 13:13:06.750,2019-09-23 12:35:02.914,Babe 13,32.625322,1127.700000,...,Leaf spot,3.900,2019-09-23,0.521570,2019-09-23 12:33:52.393,2019-09,9,2019-09,0,-1 days +23:58:49.479000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12850,uuid:4837fc0b-4b1f-4f00-ad20-f874e9265870,2020-04-26 15:57:34.445,2020-04-26 15:57:34.445,1,2020-04-26 15:57:34.429,2020-04-26 15:57:34.429,2020-04-26 13:33:51.851,NaN,32.423092,1172.300000,...,Infected leaves,4.724,2020-04-26,0.715378,2020-04-26 13:32:47.011,2020-04,4,2020-04,0,-1 days +23:58:55.160000
12851,uuid:31fff940-5a29-4c14-91c5-96c685cfbd4a,2020-04-26 15:57:39.266,2020-04-26 15:57:39.266,1,2020-04-26 15:57:39.252,2020-04-26 15:57:39.252,2020-04-26 13:35:42.052,NaN,32.422957,1154.600000,...,,4.641,2020-04-26,0.715577,2020-04-26 13:35:07.165,2020-04,4,2020-04,0,-1 days +23:59:25.113000
12852,uuid:786bf823-9487-4e59-a628-fcf726404c65,2020-04-26 16:32:28.237,2020-04-26 16:32:28.237,1,2020-04-26 16:32:28.226,2020-04-26 16:32:28.226,2020-04-26 16:25:55.683,NaN,32.423178,1154.400000,...,,4.466,2020-04-26,0.715421,2020-04-26 13:37:43.468,2020-04,4,2020-04,0,-1 days +21:11:47.785000
12853,uuid:d5b79b51-15c4-4151-bebf-0ef1a46caea0,2020-04-26 16:32:35.680,2020-04-26 16:32:35.680,1,2020-04-26 16:32:35.652,2020-04-26 16:32:35.652,2020-04-26 16:27:00.481,NaN,32.423133,1146.000000,...,Leaf rust,4.640,2020-04-26,0.715420,2020-04-26 13:38:35.999,2020-04,4,2020-04,0,-1 days +21:11:35.518000
12854,uuid:dadd19ac-57e2-450a-a797-e3a6c0dfaa4f,2020-04-26 16:32:49.304,2020-04-26 16:32:49.304,1,2020-04-26 16:32:49.297,2020-04-26 16:32:49.297,2020-04-26 16:27:30.181,NaN,32.423246,1146.000000,...,,4.728,2020-04-26,0.715418,2020-04-26 13:43:00.494,2020-04,4,2020-04,0,-1 days +21:15:30.313000

In [81]:
new_beans_valid = new_beans[new_beans['IS_COMPLETE'] == 0]
new_beans_valid

,URI,CREATION_DATE,LAST_UPDATE_DATE,IS_COMPLETE,SUBMISSION_DATE,MARKED_AS_COMPLETE_DATE,BEAN_DATA_END_TIME,BEAN_VARIETY,BEAN_GPS_LNG,BEAN_GPS_ALT,...,BEAN_DATA_COMMENT,BEAN_GPS_ACC,BEAN_DATA_SUBMISSION_TIME,BEAN_GPS_LAT,BEAN_DATA_START_TIME,beans_mnth_yr,bean_month,month_year,diff,time_diff
20,uuid:ed2aa67f-7a93-4cb1-9a44-e0c8acd6f4ce,2019-09-24 12:57:28.033,2019-09-24 12:58:31.372,0,2019-09-24 12:57:28.013,NaT,2019-09-23 13:11:30.942,NaN,32.625266,1143.1,...,,3.676,2019-09-23,0.521565,2019-09-23 10:38:52.053,2019-09,9,2019-09,0,-1 days +21:27:21.111000
57,uuid:6fc56d20-46cf-4e96-bbc0-17cd6635356a,2019-09-27 07:34:58.155,2019-09-27 07:34:58.155,0,2019-09-27 07:34:58.149,NaT,2019-09-27 07:34:44.310,NaN,0.692093,1110.2,...,,4.077,2019-09-25,34.006441,2019-09-25 10:40:00.200,2019-09,9,2019-09,0,-2 days +03:05:15.890000
263,uuid:8303727c-1a1a-4bb1-9ede-446e8124740e,2019-10-02 11:53:02.081,2019-10-02 11:53:02.081,0,2019-10-02 11:53:02.069,NaT,2019-09-23 16:57:45.504,NaN,32.626529,1110.5,...,,4.996,2019-09-23,0.539822,2019-09-23 16:55:52.151,2019-10,10,2019-10,0,-1 days +23:58:06.647000
313,uuid:7bce4c18-aea6-4eb8-9575-b090e9bc8d7f,2019-10-04 09:49:33.133,2019-10-04 09:49:33.133,0,2019-10-04 09:49:33.126,NaT,2019-09-27 06:53:54.388,NaN,32.635073,1137.5,...,Well spaced beans multiplication field,4.845,2019-09-27,0.521152,2019-09-27 06:51:05.770,2019-10,10,2019-10,0,-1 days +23:57:11.382000
355,uuid:01ef55df-158c-42f8-9b3f-49f4cc3637da,2019-10-04 19:39:52.341,2019-10-04 19:47:16.733,0,2019-10-04 19:39:52.334,NaT,2019-10-04 14:44:59.049,NaN,33.119299,1103.2,...,Yellow,4.159,2019-10-04,0.938196,2019-10-04 14:44:21.064,2019-10,10,2019-10,0,-1 days +23:59:22.015000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12541,uuid:a6581c4a-67b6-47f7-b15e-e3c42285436d,2020-03-24 05:32:54.539,2020-03-24 05:32:54.539,0,2020-03-24 05:32:54.533,NaT,2020-03-22 08:22:36.054,NaN,33.649799,1134.8,...,,4.680,2020-03-22,2.043076,2020-03-22 08:22:13.498,2020-03,3,2020-03,0,-1 days +23:59:37.444000
12542,uuid:5e1e2de8-21d9-41fa-86ef-9f078258f74b,2020-03-24 05:32:55.443,2020-03-24 05:32:55.443,0,2020-03-24 05:32:55.434,NaT,2020-03-22 08:23:35.118,NaN,33.649849,1134.6,...,,4.720,2020-03-22,2.043055,2020-03-22 08:23:12.902,2020-03,3,2020-03,0,-1 days +23:59:37.784000
12543,uuid:ddd23e21-2618-452e-adb3-ed66af4a1545,2020-03-24 05:32:56.508,2020-03-24 05:32:56.508,0,2020-03-24 05:32:56.501,NaT,2020-03-22 08:24:48.531,NaN,33.649835,1136.6,...,,6.300,2020-03-22,2.043090,2020-03-22 08:24:30.884,2020-03,3,2020-03,0,-1 days +23:59:42.353000
12544,uuid:500a7d32-56ac-4b1e-8565-15d5d6831849,2020-03-24 05:32:57.483,2020-03-24 05:32:57.483,0,2020-03-24 05:32:57.476,NaT,2020-03-22 08:25:37.258,NaN,33.649802,1125.3,...,,7.100,2020-03-22,2.043010,2020-03-22 08:25:16.034,2020-03,3,2020-03,0,-1 days +23:59:38.776000
12545,uuid:efcb425e-f3e8-422e-a182-cebf29e04105,2020-03-24 05:32:58.369,2020-03-24 05:32:58.369,0,2020-03-24 05:32:58.362,NaT,2020-03-22 08:27:17.464,NaN,33.649857,1124.2,...,,4.833,2020-03-22,2.043011,2020-03-22 08:26:57.212,2020-03,3,2020-03,0,-1 days +23:59:39.748000